<div class="jumbotron">
  <%= form_for :guest, url: guests_path, method: :post, html: {class: "form-horizontal"} do |f| %>
    <div class="checkbox">
      <%= f.radio_button :cse_ece, 'CSE', :checked => true %>
      <%= f.label :cse_ece, 'CSE' %>
      <%= f.radio_button :cse_ece, 'ECE' %>
      <%= f.label :cse_ece, 'ECE' %>
    </div>
    <div class="form-group">
      <%= f.label :username, "Username" %>
      <%= f.text_field :username, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <%= f.submit "Next", class: "btn btn-primary" %>
  <% end %>
</div>
