<%= simple_form_for :guest, url: file_upload_path,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :major, as: :radio_buttons, collection: ["CSE", "ECE"], required: true %>
  <%= f.input :username, placeholder: 'Username', required: true %>
  <%= f.input :password, placeholder: 'Password', required: true %>
  <%= f.input :file, as: :file, required: true %>

  <div class="form-actions">
    <%= f.button :submit, 'Next' %>
  </div>
<% end %>
