<%= simple_form_for :user, url: file_upload_path,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <%= f.error_notification %>

  <% if @user.has_cse_account? && @user.has_ece_account? %>
    <%= f.input :major, as: :radio_buttons, collection: ["CSE", "ECE"], required: true %>
  <% end %>
  <%= f.input :file, as: :file, required: true %>

  <div class="form-actions">
    <%= f.button :submit, 'Next' %>
  </div>
<% end %>
