<h1 class="text-center">Printer Options</h1>

<hr />

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <%= simple_form_for :options, url: print_it_path,
      wrapper_mappings: {
        check_boxes: :vertical_radio_and_checkboxes,
        radio_buttons: :vertical_radio_and_checkboxes,
        file: :vertical_file_input,
        boolean: :vertical_boolean
      } do |f| %>
      <%= f.error_notification %>

      <%= f.input :printer, collection: @printers, selected: 0 %>
      <%= f.input :sides, collection: ["Single Sided", "Double Sided (long edge)", "Double Sided (short edge)"], selected: 0 %>
      <%= f.input :numberup, label: 'Pages per Side', collection: [1, 2, 4, 6], selected: 0 %>
      <%= f.input :orientation, collection: ["Portrait", "Landscape"], selected: 0 %>
      <%= f.input :copies, as: :integer, input_html: { value: 1, min: 1, max: 100 }, hint: "Enter a number between 1 and 100 (inclusive)" %>

      <div class="form-actions">
        <%= f.button :submit, 'Next' %>
      </div>
    <% end %>
  </div>
</div>
